# Tauri
src-tauri/target/
src-tauri/*.exe
src-tauri/*.msi
src-tauri/*.dmg
src-tauri/*.app

# Build outputs
backend/dist

# OS
nul
Thumbs.db

# Environment
.env*..env
local
!.env.example
release/win-unpacked/resources/app.asar
node_modules/electron/dist/electron.exe
release/UNEFA Dashboard-2.0.2-Portable.exe
release/win-unpacked/UNEFA Dashboard.exe
